<div> 
  <div id="Main">
    <div id="MovieDisplay">
      <%= render :partial => 'latestmovie' %>
    </div>

    <div id="ReviewDisplay">
      <%= render :partial => 'latestreview' %>
    </div>
  </div>
</div>




