<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<button onClick="displayByTitle()">title</button>
<button onClick="displayByDate()">date</button>
<button onClick="displayByGenre()">genre</button>

<div id="MovieSortDisplay">
</div>



<script>
displayByTitle()

function displayByTitle() {
  let partialDiv = document.getElementById("MovieSortDisplay");
  partialDiv.innerHTML = `<%= render :partial => 'title' %>`;
}

function displayByDate() {
  let partialDiv = document.getElementById("MovieSortDisplay");
  partialDiv.innerHTML = `<%= render :partial => 'date' %> `;
}

function displayByGenre() {
  let partialDiv = document.getElementById("MovieSortDisplay");
  partialDiv.innerHTML = `<%= render :partial => 'genre' %> `;
}


</script>
